.header-image{
  background-color:#ffb72f;
  height:auto;
  text-align: left;
  color: WHITE;
  border-bottom: solid;
  border-width: 6px;
  border-color: #fcac55;
}

.yello{
  color: #ffd200;
}

.logo {
	display: block;
	margin: 10px auto;
	vertical-align: middle;
}

h2 {
	color: white;
}


